body {
    background-color: RGB(244, 237, 255) !important;
}

.container {
    background-color: RGB(244, 237, 255) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-card {
    width: 25rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    /*generische Klassen: Wiederverwendung in bestimmten Kontexten*/
    width: 100%;
}

.text-center {
    text-align: center;
}

#end-screen {
    background-color: rgb(78, 191, 24);
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header {
    font-size: 38px;
    margin-bottom: 24px;
}

.top-image {
    height: 400px;
    object-fit: contain;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}